@import "./base/font.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./components/intro.css";

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: min(100% - 2rem, 70rem);
    }
}
