:root {
    --clr-purple-100: hsl(254, 88%, 90%);
    --clr-purple-500: hsl(256, 67%, 59%);

    --clr-yellow-100: hsl(31, 66%, 93%);
    --clr-yellow-500: hsl(39, 100%, 71%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 7%);

    --font-main: "DM Sans", sans-serif;
    --font-medium: 500;
    --font-normal: 400;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    max-width: 100%;
}
p {
    font-size: 1.125rem;
    overflow-wrap: break-word;
}
h1,
h2 {
    font-weight: var(--font-medium);
    overflow-wrap: break-word;
}
