*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    max-width: 100%;
}
h1,
h2,
h3 {
    overflow-wrap: break-word;
    font-weight: var(--font-medium);
}
p {
    overflow-wrap: break-word;
}
