.paragraph {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.heading-1 {
  font-size: 2.875rem;
  line-height: 2.625rem;
  font-weight: var(--font-medium);
}

.heading-2 {
  font-size: 2rem;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
  font-weight: var(--font-medium);
}

.heading-3 {
  font-size: 1.625rem;
  line-height: 1.5rem;
  letter-spacing: -0.05em;
  font-weight: var(--font-medium);
}
